---
import R2Image from './R2Image.astro'
const {
    key = "",
    src = "",
    content = "",
    num = null,
    ...attrs
} = Astro.props
const keyMap = {
    // 矿和材料
    sliver: { label: '银矿', icon: '/reagens/Silver.webp' },
    marble: { label: '大理石', icon: '/reagens/Marble.webp' },
    psyche: { label: '魂魄', icon: '/reagens/Psyche.webp', },
    nightmare: { label: '梦魇', icon: '/reagens/Nightmare.webp', },
    peral: { label: '珍珠', icon: '/reagens/Pearl.webp', },
    limestone: { label: '石灰岩', icon: '/reagens/Limestone.webp', },
    tears: { label: '泪珠', icon: '/reagens/Tears.webp', },
    fangs: { label: '尖牙', icon: '/reagens/Fangs.webp', },
    fateFabric: { label: '命运丝线', icon: '/reagens/Fate_Fabric.webp', },
    glassrock: { label: '曜石', icon: '/reagens/Glassrock.webp', },
    wool: { label: '羊毛', icon: '/reagens/Wool.webp', },
    iron: { label: '铁矿', icon: '/reagens/Iron.webp', },
    feather: { label: '羽毛', icon: '/reagens/Feather.webp', },
    cinder: { label: '余烬', icon: '/reagens/Cinder.webp', },
    bronze: { label: '青铜', icon: '/reagens/Bronze.webp', },
    shadow: { label: '暗影', icon: '/reagens/Shadow.webp', },
    serpentScales: { label: '蛇鳞', icon: '/reagens/Serpent_Scales.webp', },
    ashes: { label: '尘灰', icon: '/reagens/Ashes.webp', },
    adamant: { label: '精金', icon: '/reagens/Adamant.webp', },
    moonDust: { label: '月尘', icon: '/reagens/MoonDust.png', },
    plasma: { label: '混沌质', icon: '/reagens/Plasma.webp', },
    darkness: { label: '黑暗', icon: '/reagens/Darkness.webp', },
    voidLens: { label: '虚空之眼', icon: '/reagens/Void_Lens.webp', },
    bones: { label: '骨骇', icon: '/reagens/bones.webp', },
    starDust: { label: '星尘', icon: '/reagens/Star_Dust.webp', },
    zodiacSand: { label: '星尘', icon: '/reagens/Zodiac_Sand.webp', },

    // 植物
    lotus: { label: '莲花', icon: '/plants/Lotus.webp', },
    shaderot: { label: '糜影草', icon: '/plants/Shaderot.webp', },
    driftwood: { label: '浮木', icon: '/plants/Driftwood.webp', },
    goldenApple: { label: '金苹果', icon: '/plants/Golden_Apple.webp', },
    nightshade: { label: '颠茄', icon: '/plants/Nightshade.webp', },
    poppy: { label: '罂粟', icon: '/plants/Poppy.webp', },
    moss: { label: '青苔', icon: '/plants/Moss.webp', },
    mysterySeeds: { label: '神秘种子', icon: '/plants/Mystery_Seeds.webp', },
    olive: { label: '橄榄', icon: '/plants/Olive.webp', },
    moly: { label: '摩吕草', icon: '/plants/Moly.webp', },
    thalamus: { label: '混沌苞蕾', icon: '/plants/Thalamus.webp', },
    
    // 工具
    fishingRod: { label: '钓鱼竿', icon: '/tools/FishingRod.webp', },

    // 祝福
    premiumService: { label: '尊享服务', icon: '/boons/Premium_Service.webp', },

    // 礼物
    nectar: { label: '蜜露', icon: '/goods/Nectar.webp', },
    witchsDelight: { label: '女巫之宝', icon: '/goods/Witch%24s_Delight.webp', },
    
    // 符号
    armor: { label: '护甲', icon: '/values/Armor.webp', },
    health: { label: '生命值', icon: '/values/Health.webp', },
    maxHealth: { label: '生命值上限', icon: '/values/Max_Health.webp', },
    magick: { label: '魔力值', icon: '/values/Magick.webp', },
    maxMagick: { label: '魔力值上限', icon: '/values/Max_Magick.webp', },
    obolPoint: { label: '信用点', icon: '/values/obol_point.png', },
    grasp: { label: '阿卡那悟性', icon: '/values/Grasp.png', },
    deathDefiance: { label: '死里逃生', icon: '/values/Death_Defiance.webp', },
    changeOfFate: { label: '重塑命运', icon: '/values/Change_of_Fate.webp', },
    gold: { label: '金币', icon: '/values/Gold.webp', },
    
    // 元素
    air: { label: '风元素', icon: '/values/Air.webp', },
    fire: { label: '火元素', icon: '/values/Fire.webp', },
    earth: { label: '土元素', icon: '/values/Earth.webp', },
    water: { label: '水元素', icon: '/values/Water.webp', },

    // 咒语
    darkTool: { label: '咒语：暗夜工具' },
    myFriends: { label: '咒语：魔宠信赖' },

    // 魔宠
    frinos: { label: '弗利诺斯', icon: '/friends/Frinos.webp' },
    gale: { label: '加莉', icon: '/friends/Gale.webp' },
    hecuba: { label: '赫库芭', icon: '/friends/Hecuba.webp' },
    raki: { label: '拉奇', icon: '/friends/Raki.webp' },
    toula: { label: '图拉', icon: '/friends/Toula.webp' },
}

const getMapItem = () => {
    if (!!key && Object.keys(keyMap).includes(key)) {
        return keyMap[key]
    } else {
        return null
    }
}

const getMapItemParam = (k: string, dft: string) => {
    const mapItem = getMapItem()
    if (mapItem !== null && !!mapItem[k]) {
        return mapItem[k]
    } else {
        return dft
    }
}
---

<span class="inline-label-container" {...attrs}>
    { getMapItemParam('icon', src) ? <R2Image class="inline-label-image" src={getMapItemParam('icon', src)}/> : ''}
    <span class="inline-label-text">{ getMapItemParam('label', content) }</span>
    { num !== null ? <span class="inline-label-text">x{ num !== null ? num : '' }</span> : '' }
</span>
<style lang="scss">
    .inline-label-container {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        vertical-align: middle;
        background-color: var(--sl-color-hairline);
        border-radius: 5px;
        padding: 2px 5px;
        margin: 0 4px;
        gap: 4px;
        .inline-label-image {
            width: 20px;
            height: 20px;
            object-fit: contain;
        }
        .inline-label-text {
            font-size: small;
            margin-left: 5px;
        }
    }
</style>