---
const {
    key,
    content = '',
    title = '',
} = Astro.props

const keyMap = {
    sijie: { label: '死劫', content: '令你的 Ω 招式临时获得 +2% 暴击率，至多叠加至 +20%。' },
}

const getMapItem = () => {
    if (!!key && Object.keys(keyMap).includes(key)) {
        return keyMap[key]
    } else {
        return null
    }
}

const getMapItemParam = (k: string, dft: string) => {
    const mapItem = getMapItem()
    if (mapItem !== null && !!mapItem[k]) {
        return mapItem[k]
    } else {
        return dft
    }
}
---

<span class="inline-tooltip-container">
    { getMapItemParam('label', title) }
    <span class="tooltip">{getMapItemParam('content', content)}</span>
</span>

<style lang="scss">
    .inline-tooltip-container {
        background-color: #f4f5f8;
        border-radius: 5px;
        padding: 2px 5px;
        margin: 0 4px;
        cursor: pointer;
        position: relative;
        .tooltip {
            display: none;
        }
        &:hover .tooltip {
            display: flex;
            position: absolute;
            top: 99%;
            left: 0;
            padding: 5px 10px;
            background-color: #f4f5f8;
            border-radius: 5px;
            font-size: small;
            color: #666;
            width: 20em;
        }
    }
</style>