---
import R2Image from './R2Image.astro'
const {
    key = "",
    src = "",
    content = "",
    num = null,
    ...attrs
} = Astro.props

import keyMap from './innerLabelKeymap.js'

const getMapItem = () => {
    if (!!key && Object.keys(keyMap).includes(key)) {
        return keyMap[key]
    } else {
        return null
    }
}

const getMapItemParam = (k: string, dft: string) => {
    const mapItem = getMapItem()
    if (mapItem !== null && !!mapItem[k]) {
        return mapItem[k]
    } else {
        return dft
    }
}
---

<span class="inline-label-container" {...attrs}>
    { getMapItemParam('icon', src) ? <R2Image class="inline-label-image" src={getMapItemParam('icon', src)}/> : ''}
    <span class="inline-label-text">{ getMapItemParam('label', content) }</span>
    { num !== null ? <span class="inline-label-text">x{ num !== null ? num : '' }</span> : '' }
</span>
<style lang="scss">
    .inline-label-container {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        vertical-align: middle;
        background-color: var(--sl-color-hairline);
        border-radius: 5px;
        padding: 2px 5px;
        margin: 0 4px;
        gap: 4px;
        .inline-label-image {
            width: 20px;
            height: 20px;
            object-fit: contain;
        }
        .inline-label-text {
            font-size: small;
            margin-left: 5px;
        }
    }
</style>