---
const {
    key,
    content = '',
    title = '',
} = Astro.props

const keyMap = {
    sijie: { label: '死劫', content: '令你的 Ω 招式临时获得 +2% 暴击率，至多叠加至 +20%。' },
    shink: { label: '闪耀', content: '诅咒状态：受影响的敌人受到 Ω 招式的伤害 +50%，持续 8 秒。' },
    boost: { label: 'Ω 助推', content: '长按冲刺使用 30 魔力值 为你的奔跑充能，撞击时造成 250 范围伤害。' },
    nightShadow: { label: '夜影', content: '你的基础攻击和基础特技同时还会产生 2 道重影，造成部分伤害，持续 5 秒。' },
    primaryAward: { label: '主要收获', content: '让你获得力量的奖励，比如祝福。' },
    secondaryAward: { label: '次要收获', content: '让你增加资源的奖励，比如尘灰和骨骇。' },
    cemeteryHunger: { label: '墓地饥渴', content: '每局游戏开始之前，有一个主要武器会具有墓地饥渴，在选武器的位置会有红光包围。使用具有墓地饥渴的武器进行游戏可以获得骨骇。' },
    zhulian: { label: '株连', content: '诅咒状态：其它受影响的敌人受击时，此敌人也会受到伤害，持续一定时间。' },
    priming: { label: '蓄锐', content: '扣除魔力值上限。' },
    froth: { label: '激荡', content: '诅咒状态：受影响的敌人受击时，有 25% 的概率额外受到 50 伤害，持续 3 秒。' },
}

const getMapItem = () => {
    if (!!key && Object.keys(keyMap).includes(key)) {
        return keyMap[key]
    } else {
        return null
    }
}

const getMapItemParam = (k: string, dft: string) => {
    const mapItem = getMapItem()
    if (mapItem !== null && !!mapItem[k]) {
        return mapItem[k]
    } else {
        return dft
    }
}
---

<span class="inline-tooltip-container">
    { getMapItemParam('label', title) }
    <span class="tooltip">{getMapItemParam('content', content)}</span>
</span>

<style lang="scss">
    .inline-tooltip-container {
        background-color: var(--sl-color-hairline);;
        border-radius: 5px;
        padding: 2px 5px;
        margin: 0 4px;
        cursor: pointer;
        position: relative;
        .tooltip {
            display: none;
        }
        &:hover .tooltip {
            display: flex;
            position: absolute;
            top: 99%;
            left: 0;
            padding: 5px 10px;
            background-color: var(--sl-color-hairline);;
            border-radius: 5px;
            font-size: small;
            // color: #666;
            width: 20em;
        }
    }
</style>